<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail</title>
</head>
<body>
    <form action="/get-cost">
        <label>Weight:</label>
        <input type="number" name="weight">
        <label>Type of mail:</label>
        <select name="type">
            <option value="letterStamped">Letters (Stamped)</option>
            <option value="letterMetered">Letters (Metered</option>
            <option value="largeEnvelope">Large Envelopes (Flats)</option>
            <option value="retail">First-Class Package Service&mdash;Retail</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>